<h1>Pages home</h1>



# <%= link_to "Login", new_user_session_path %>
# <%= link_to "Cadastro", new_user_registration_path %>


<% if current_user %> 
<%= link_to "Logout", destroy_user_registration_path, method: :delete %>
else
<%= link_to "Login", new_user_session_path %>
<%= link_to  "Cadastro", new_user_registration_path %>
<% end %> 
