      <div class="span6 logo">
        <%= image_tag("logo2.png") %>
      </div>
      <div class="span6 login-box">
        <% if user_signed_in? %>
            <span class='navbar-text ml-auto'><%= t(:hello) %>, <%= current_user.name  %></span>
            <%= link_to  destroy_user_session_path, method: :delete, class: 'nav-link text-secondary',data: {toggle:"tooltip", placement:"bottom"}, title: "Logout" do %>
              <i class="fa fa-sign-out-alt"></i>
            <% end %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to  "Cadastro", new_user_registration_path %>
        <% end %>
      </div>
    

